
            <!-- Remove the container if you want to extend the Footer to full width. -->
            <div class="">
                <!-- Footer -->
                <footer class="text-center text-white" style="background-color: #DAB350">
                <!-- Grid container -->
                <div class="container-fluid">
                    <!-- Section: Links -->
                    <section class="">
                    <!-- Grid row-->
                    <div class="row text-center d-flex justify-content-center pt-5">
                        <!-- Grid column -->
                        <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">About us</a>
                        </h6>
                        </div>
                        <!-- Grid column -->
            
                        <!-- Grid column -->
                        <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">New Games</a>
                        </h6>
                        </div>
                        <!-- Grid column -->
            
                        <!-- Grid column -->
                        <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Awards</a>
                        </h6>
                        </div>
                        <!-- Grid column -->
            
                        <!-- Grid column -->
                        <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Help</a>
                        </h6>
                        </div>
                        <!-- Grid column -->
            
                        <!-- Grid column -->
                        <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Contact</a>
                        </h6>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row-->
                    </section>
                    <!-- Section: Links -->
            
                    <hr class="my-5" />
            
                    <!-- Section: Text -->
                    <section class="mb-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                        <p>
                            "The future belongs to those who believe in the beauty of their dreams"- Eleanor Roosevelt
                            <br>
                            Grow a child's mind through simple games.<i class="fa-solid fa-seedling fa-xl"></i>
                        </p>
                        </div>
                    </div>
                    </section>
                    <!-- Section: Text -->
            
                    <!-- Section: Social -->
                    <section class="text-center mb-5">
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                    </section>
                    <!-- Section: Social -->
                </div>
                <!-- Grid container -->
            
                <!-- Copyright -->
                <div
                    class="text-center p-3"
                    style="background-color: rgba(0, 0, 0, 0.2)"
                    >
                    © 2023 Copyright:
                    <a class="text-white" href="#"
                    >Little Sapling</a
                    >
                </div>
                <!-- Copyright -->
                </footer>
                <!-- Footer -->
            </div>
            <!-- End of .container -->

        <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous">     
        </script>

        <script                         
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"     
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" 
        crossorigin="anonymous">

        </script>

        <script src="" async defer></script>
    </body>
</html>