<%- include ('partials/header.ejs') %> 
<div id="home-page-background-img">
  <div id="home-message">
    <h1>Today is a great day to learn something new!</h1>
  </div>
  
</div>
    
<%- include ('partials/footer.ejs') %> 